---
layout: default
---

<div class="home">

    {{ content }}
    <div style="width: 45%; float:left">
        <h1 class="page-heading">Posts by Catagory</h1>
        {% include catagories.html %}
    </div>
    <div style="width: 45%; float:right">
        <h1 class="page-heading">Posts by Date</h1>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <a class="post-link" style="font-size: 16px;" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>